<nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="assets/images/Logo.png">Utterfare</a>
    </div>
</nav>
<main class="app">
    <router-outlet></router-outlet>
</main>
<div class="footer">
        <ul class="socials">
            <li>
                <a href="https://www.facebook.com/utterfare" target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/utterfare" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
            </li>
            <li>
                <a href="mailto:customerservice@utterfare.com?subject=Help request">
                    <i class="bi bi-envelope"></i>
                </a>
            </li>
        </ul>
    <img class="logo" src="assets/images/Logo.png">
    <h4>Utterfare&trade;</h4>
</div>
