<nav class="navbar navbar-expand bg-body-secondary p-0">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://vendor.utterfare.com">Vendor Login</a> 
                </li>
            </ul>
        </div> 
    </div>
</nav>
<nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="assets/images/Logo.png">Utterfare</a>
        <div class="ms-auto profile">
            <button 
            class="btn user-profile"
            (click)="toggleProfile()">
                @if(authUser.profile.profilePicture !== undefined && authUser.profile.profilePicture !== null){
                    <img src="{{authUser.profile.profilePicture}}" />
                } @else {
                    <i class="bi bi-person"></i>
                }
            </button>

            <ul 
                class="profile-dropdown"
                [hidden]="hideDropdown">
                @if(!isLoggedIn){
                    <li><a class="dropdown-item" [routerLink]="['/login']">Log In</a></li>
                } @else {
                    <li>
                        <a 
                            class="dropdown-item" 
                            [routerLink]="['/profile', authUser.auth.username]" 
                            (click)="hideDropdown = true">
                            Profile
                        </a>
                    </li>
                    <li><button class="dropdown-item text-danger" (click)="logout()">Log Out</button></li>
                }
            </ul>
        </div>
    </div>
</nav>
<main class="app">
    <router-outlet></router-outlet>
</main>
<div class="footer">
        <ul class="socials">
            <li>
                <a href="https://www.facebook.com/utterfare" target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/utterfare" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
            </li>
            <li>
                <a href="mailto:customerservice@utterfare.com?subject=Help request">
                    <i class="bi bi-envelope"></i>
                </a>
            </li>
        </ul>
    <img class="logo" src="assets/images/Logo.png">
    <h4>Utterfare&trade;</h4>
</div>
