.search-form {
    display:flex; 
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;


    label{
        color: #fefefe;
    }

    .form-control, .form-select{
        border-radius: 0px !important;

        &::placeholder {
            color: grey;
        }
    }

    .terms-section {
        width: 350px;
            
    @media(max-width:798px), screen and (orientation: portrait){
        min-width: 100%;
        flex-grow: 1;
    }

    }

    .location-section {
        
        .location {
            position:relative;
            display:flex; 
            flex-direction: row;
            flex-wrap: nowrap;
            background-color: #fff;
            border-color: #dee2e6;
            border: 1px;
            
            .btn-find-location {
                order:2;
                z-index: 1;
                color: #00ced1;
                background-color: #f3f3f3;
                border-radius: 0px;

                .spinner-border {
                    font-size: 0.5em;
                }
            }

            .form-control{
                border: none !important;
            }
        }
    }

    .search-section {
        align-self: flex-end;

        .btn-search {
            color: #f3f3f3;
            transform: rotateY(180deg);
            font-size: 1.24em;
        }
        color: #f3f3f3;
    }
}