<div class="login">
    <form class="login-form">
        <h1>Login</h1>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="username"/>
            <label>Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" placeholder="username"/>
            <label>Password</label>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
        <a [routerLink]="['/', 'sign-up']">Sign Up</a>
        <a [routerLink]="['/', 'reset-password']">Reset Password</a>
    </form>
</div>
