.password-reset {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.24em;
    margin-bottom: 1.24em;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    padding: 5px;
    align-items: center;
    border-radius: 5px;

    .inline-button {
        position:relative;

        .btn {
            position:absolute;
            z-index: 15;
            top:50%;
            right: 0;
            transform: translateY(-50%);
            border-radius: 50px;
        }
    }
}