<div class="password-reset">
    <h2>Password Rest</h2>
        <form 
        [formGroup]="resetRequestFormGroup" 
        #resetRequestForm 
        (submit)="requestPasswordResetCode()"
        [style.display]="'block'" >
            <div class="inline-button">
                <div class="form-floating">
                    <input class="form-control" type="text" placeholder="Username" formControlName="username"/>
                    <label>Username</label>
                    <app-loading-indicator 
                [position]="'center'" 
                [hidden]="!isLoading">
            </app-loading-indicator>
                </div>  
                <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-arrow-right"></i></button>
            </div>
            
        </form>

        <form 
            #resetCodeForm 
            [formGroup]="resetCodeFormGroup" 
            [style.display]="'none'" 
            (submit)="validateCode()">
            <div class="form-floating mb-3">
                <input 
                    class="form-control" 
                    type="text" 
                    placeholder="Reset Code" 
                    formControlName="resetCode"
                    [style.text-align]="'center'"/>
                <label>Reset Code</label>
            </div>
            <app-loading-indicator 
                [position]="'center'" 
                [hidden]="!isLoading">
            </app-loading-indicator>
            <button class="btn btn-outline-primary w-100" [disabled]="resetCodeFormGroup.controls.resetCode.invalid">Validate Code</button>
        </form>

        <form 
            #passwordResetForm 
            [formGroup]="passwordResetFormGroup" 
            [style.display]="'none'"
            (submit)="resetPassword()">

            <div class="form-floating mb-3">
                <input type="password" class="form-control" formControlName="password" placeholder="New Password"/>
                <label>New Password</label>
            </div>
            
            <div class="form-floating mb-3">
                <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" />
                <label>Confirm Password</label>
            </div>

            <button type="submit" class="btn btn-outline-primary w-100" [disabled]="passwordResetFormGroup.invalid || user.password !== user.confirmPassword">Reset Password</button>
            <app-loading-indicator [position]="'center'" [hidden]="!isLoading"></app-loading-indicator>
        </form>
</div>

