<div class="profile">
    <div class="banner">
        <div class="profile-picture">
            <img 
                class="profile-picture__img"
                src="{{profile.profilePicture}}" 
                (error)="profile.profilePicture = 'assets/images/artichoke-outline.png'">
        </div>
        <div class="information">
            <div class="data">
                <span class="item">
                    @if(isLoadingReviews){
                        <p class="placeholder-glow w-100">
                            <span class="placeholder w-100"></span>
                        </p>
                    } @else {
                        {{feedItems.length}}
                    } 
                    <strong>Reviews</strong>
                </span>
                <span class="item" (click)="displayFollowers()">
                    @if(isLoadingProfile){
                        <p class="placeholder-glow w-100">
                            <span class="placeholder w-100"></span>
                        </p>
                    }@else {
                        {{ followers.length }}
                    }
                    <strong>Followers</strong>
                </span>
                <span class="item" (click)="displayFollowing()">
                    @if(isLoadingProfile){
                        <p class="placeholder-glow w-100">
                            <span class="placeholder w-100"></span>
                        </p>
                    }@else {
                        {{ following.length }}
                    }
                    <strong>Following</strong>
                </span>
            </div>
            @if(isLoadingProfile){
                <h1 class="placeholder-glow w-50">
                    <span class="placeholder w-100"></span>
                </h1>
            } @else {
                <h1>{{profile.firstName ?? 'Username'}} {{profile.lastName ?? ''}}</h1>
            }
            @if(isLoadingProfile){
                <h1 class="placeholder-glow w-50">
                    <span class="placeholder w-100"></span>
                </h1>
            } @else {
                <div class="buttons">
                    @if(authUser.profile.id === profile.id){
                        <button type="button" class="btn btn-secondary" [routerLink]="['/', 'profile', 'edit']"><i class="bi bi-gear me-1"></i>Edit Profile</button>
                        <button type="button" class="btn btn-secondary">Account</button>
                    } @else {
                        @if(isFollowing()){
                            <button 
                                type="button" 
                                class="btn btn-secondary" 
                                [disabled]="authUser.profile.id < 1" 
                                (click)="unfollowProfile()">
                                @if(isFriends()){
                                    <i class="bi bi-people me-1"></i>
                                    Friends
                                } @else {
                                    <i class="bi bi-person-check me-1"></i>
                                    Following
                                }
                            </button>
                        } @else {
                            <button 
                                type="button" 
                                class="btn btn-secondary" 
                                [disabled]="authUser.profile.id < 1" 
                                (click)="followProfile()">
                                <i class="bi bi-person-add me-1"></i>
                                Follow
                            </button>
                        }
                    }
                </div>
            }
            
        </div>
    </div>
    <div class="body">
        @if(authUser.auth.id > 0){
            @if(feedItems.length > 0){
                <ul class="feed"> 
                    @for(feedItem of feedItems; track feedItem.id; let feedItemIndex = $index){
                        <li class="item">
                            <app-feed-item [feedItem]="feedItem"></app-feed-item>
                        </li> 
                    }
                </ul>
            } @else {
                <h3 class="text-center">This user does not have any posts yet.</h3>
            } 
        }@else {
            <p class="text-center"><span type="button" class="btn btn-link" (click)="displayLoginModal()">Login</span>to view this user's reviews.</p>
        }
        
    </div>
</div>

<ng-template #loginModal let-modal>
    <app-login [isModal]="true" (signInEmitter)="signIn($event)"></app-login>
</ng-template>

<ng-template #followingModal let-modal>
    <app-connections [connections]="following" [title]="'Following'"></app-connections>
</ng-template>

<ng-template #followersModal let-modal>
    <app-connections [connections]="followers" [title]="'Followers'"></app-connections>
</ng-template>